#div1{
    background-color: red;
    height: 200px;
    width: 667.5px;
}

#div2{
    background-color: blueviolet;
    height: 200px;
    width: 667.5px;
}

#div3{
    background-color: darkblue;
    height: 200px;
    width: 667.5px;
}

#div4{
    background-color: aqua;
    height: 200px;
    width: 667.5px;
}