body{
    margin:0;
}

.container{
    text-align: center;
    display: grid;
    grid-template-areas: 'item1 item1 item1'
                         'item2 item3 menu'
                         'rodape rodape rodape';      
    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto 1fr 100px;
    height: 100vh;
}

.inner-grid{
    text-align: center;
    display: grid;
    grid-template-areas: 'item4 item5'
                         'item6 item7'
                         'item8 item9'
                         'item10 item11';      
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 140px 140px 142px ;
}
.item1{
    grid-area: item1;
    border: 3px solid blue;
    background-color: aqua;
}
.item2{
    grid-area: item2;
    border: 3px solid blue;
    background-color: bisque;
}
.item3{
    grid-area: item3;
    border: 3px solid blue;
    background-color: aquamarine;
}

.item4{
    grid-area: item4;
    border: 3px solid blue;
    background-color: rgb(165, 42, 124);
}

.item5{
    grid-area: item5;
    border: 3px solid blue;
    background-color: brown;
}

.item6{
    grid-area: item6;
    border: 3px solid blue;
    background-color: blueviolet;
}

.menu{
    grid-area: menu;
    border: 3px solid blue;
    background-color: chartreuse;
}

.rodape{
    grid-area: rodape;
    border: 3px solid blue;
    background-color: chocolate;
}
.item7{
    grid-area: item7;
    border: 3px solid blue;
    background-color: blueviolet;
}
.item8{
    grid-area: item8;
    border: 3px solid blue;
    background-color: blueviolet;
}.item9{
    grid-area: item9;
    border: 3px solid blue;
    background-color: blueviolet;
}
.item10{
    grid-area: item10;
    border: 3px solid blue;
    background-color: blueviolet;
}
.item11{
    grid-area: item11;
    border: 3px solid blue;
    background-color: blueviolet;
}

 .container .inner-grid .item9 p{
    background-color: aqua;
 }


