*{
    margin:0;
}

div{
    display: flex;
    align-items: center;
    height: 25vh;
    width: 1fr;

    border: rgba(30, 90, 180, 0.2);
}
#div1{
    background-color: #ffccee;
    height: 200px;
}

#div2{
    background-color: hsl(50, 50, 40);
    height: 200px;
}

#div3{
    background-color: red;
    height: 200px;
}
#div4{
    background-color: rgb(39, 180, 80);
    height: 200px;
}

 div div{
        margin: 0 auto;
        background-color: aliceblue;
        height: 50px;
        width: 50px;
        font-size: large;
        text-align: center;
    }

  p{
    padding-top: 15px;
}
